# https://docs.datadoghq.com/tracing/trace_collection/open_standards/otel_collector_datadog_exporter/

receivers:
  otlp:
    protocols:
      grpc:
      http:

exporters:
  datadog:
    api:
      key: {{datadog_api_key}}
      site: datadoghq.com

processors:
  resourcedetection:
    detectors: [system, azure]

service:
  pipelines:
    traces:
      receivers: [otlp]
      processors: [resourcedetection]
      exporters: [datadog]
    metrics:
      receivers: [otlp]
      processors: [resourcedetection]
      exporters: [datadog]