${master.tags.dns_name} ansible_host=${master.tags.dns_name}.${namespace}.${domain}
%{ for worker in workers ~}
${worker.tags.dns_name} ansible_host=${worker.tags.dns_name}.${namespace}.${domain}
%{ endfor ~}

[masters]
${master.tags.dns_name}

[workers]
%{ for worker in workers ~}
${worker.tags.dns_name}
%{ endfor ~}
