apiVersion: kubeadm.k8s.io/v1beta4
kind: InitConfiguration
nodeRegistration:
  name: "{{ full_hostname.stdout }}"
  kubeletExtraArgs:
    - name: cloud-provider
      value: external
{% if cni == "cilium" %}
skipPhases:
- addon/kube-proxy
{%  endif %}
---
apiVersion: kubeadm.k8s.io/v1beta4
kind: ClusterConfiguration
apiServer:
  certSANs:
  - {{ ansible_facts.fqdn }}
  - {{ ansible_host }}
{% for ip in ansible_facts.all_ipv4_addresses %}
  - {{ ip }}
{% endfor %}
  extraArgs:
  - name: logging-format
    value: json
  - name: audit-log-path
    value: '-'
  - name: audit-policy-file
    value: /etc/kubernetes/kube-apiserver/audit-policy.yaml
  extraVolumes:
  - name: kube-apiserver
    hostPath: /etc/kubernetes/kube-apiserver
    mountPath: /etc/kubernetes/kube-apiserver
    readOnly: true
clusterName: {{ kube_clustername }}
controlPlaneEndpoint: {{ ansible_host }}
controllerManager:
  extraArgs:
  - name: bind-address
    value: 0.0.0.0
  - name: logging-format
    value: json
kubernetesVersion: {{ kube_version }}
networking:
  podSubnet: 192.168.0.0/16
  serviceSubnet: 172.16.0.0/12
scheduler:
  extraArgs:
  - name: bind-address
    value: 0.0.0.0
  - name: logging-format
    value: json
---
apiVersion: kubelet.config.k8s.io/v1beta1
kind: KubeletConfiguration
logging:
  format: json
